.centered {
    width: 50%;
    margin: 0 auto;
}
div.adjacent {
    float: left;
    display: inline-block;
}
div.padded-top {
    padding-top: .5em;
}
div.padded-bottom {
    padding-bottom: .5em;
}
div.border {
    border:2px solid black;
    padding: 1em;
}
p {
    line-height: 1em;
}
p.red {
    color: red;
}